In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Assignment Tasks and Marking System
1. Grouping and Aggregation (20 Marks)
You are provided with the following dataset about employees and their sales performance:
“”””import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data) “”””

Perform the following tasks:
1.Group the data by Employee and calculate the total sales for each employee. (5 Marks)
2.Group the data by Region and find the average sales per region. (5 Marks)
3.Group the data by both Employee and Year to calculate the total sales for each combination. (10 Marks)

In [1]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data)
#1. Group by Employee and Calculate Total Sales (5 Marks)
employee_sales = df.groupby('Employee')['Sales'].sum()
print("Total Sales by Employee:\n", employee_sales)


#2. Group by Region and Find Average Sales per Region (5 Marks)
region_avg_sales = df.groupby('Region')['Sales'].mean()
print("Average Sales by Region:\n", region_avg_sales)

#3. Group by Both Employee and Year to Calculate Total Sales for Each Combination (10 Marks)
employee_year_sales = df.groupby(['Employee', 'Year'])['Sales'].sum()
print("Total Sales by Employee and Year:\n", employee_year_sales)

Total Sales by Employee:
 Employee
Alice      750
Bob        900
Charlie    400
Name: Sales, dtype: int64
Average Sales by Region:
 Region
North    250.000000
South    266.666667
Name: Sales, dtype: float64
Total Sales by Employee and Year:
 Employee  Year
Alice     2023    200
          2024    550
Bob       2023    500
          2024    400
Charlie   2023    100
          2024    300
Name: Sales, dtype: int64

2. Merging and Concatenation (20 Marks)
You are provided with two datasets containing employee details and sales targets:
employee_details = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR']
})

sales_targets = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Sales_Target': [1000, 1200, 800, 500]
})

Perform the following tasks:
1.Merge the two datasets on the Employee column to combine all details. (10 Marks)
2.Create a new column showing the difference between Sales_Target and total sales (calculated from Task 1). Hint: Use the merged dataset for calculations. (10 Marks)

In [4]:
import pandas as pd


employee_details = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR']
})

sales_targets = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Sales_Target': [1000, 1200, 800, 500]
})

# 1Merging 10marks
merged_data = pd.merge(employee_details, sales_targets, on='Employee')
print("Merged Dataset:\n", merged_data)



# 2 Create a New Column Showing the Difference Between Sales_Target and Total Sales (10 Marks)
total_sales = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie'],
    'Total_Sales': [750, 900, 400]
})


final_data = pd.merge(merged_data, total_sales, on='Employee', how='left')
final_data['Total_Sales'] = final_data['Total_Sales'].fillna(0)
final_data['Sales_Difference'] = final_data['Sales_Target'] - final_data['Total_Sales']

print("Final Dataset with Sales Difference:\n", final_data)

Merged Dataset:
   Employee  Age Department  Sales_Target
0    Alice   25      Sales          1000
1      Bob   30      Sales          1200
2  Charlie   35  Marketing           800
3    David   40         HR           500
Final Dataset with Sales Difference:
   Employee  Age Department  Sales_Target  Total_Sales  Sales_Difference
0    Alice   25      Sales          1000        750.0             250.0
1      Bob   30      Sales          1200        900.0             300.0
2  Charlie   35  Marketing           800        400.0             400.0
3    David   40         HR           500          0.0             500.0

The following dataset contains daily stock prices:
stock_prices = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Price': [100, 102, 105, 107, 110]
})

Perform the following tasks:
1 Convert the Date column to a datetime object. (5 Marks)
2 Resample the data to calculate the weekly average price. (10 Marks)
3 Find the day with the highest stock price. (5 Marks)

In [5]:
import pandas as pd

# Provided dataset
stock_prices = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Price': [100, 102, 105, 107, 110]
})
#1. Convert the Date Column to a Datetime Object (5 Marks)
stock_prices['Date'] = pd.to_datetime(stock_prices['Date'])
print("Dataset with Datetime Column:\n", stock_prices)
#2. Resample the Data to Calculate the Weekly Average Price (10 Marks)

stock_prices.set_index('Date', inplace=True)


weekly_avg_price = stock_prices.resample('W').mean()
print("Weekly Average Price:\n", weekly_avg_price)
#3. Find the Day with the Highest Stock Price (5 Marks)

stock_prices.reset_index(inplace=True)


highest_price_day = stock_prices.loc[stock_prices['Price'].idxmax()]
print("Day with the Highest Stock Price:\n", highest_price_day)

Dataset with Datetime Column:
         Date  Price
0 2024-01-01    100
1 2024-01-02    102
2 2024-01-03    105
3 2024-01-04    107
4 2024-01-05    110
Weekly Average Price:
             Price
Date
2024-01-07  104.8
Day with the Highest Stock Price:
 Date     2024-01-05 00:00:00
Price                    110
Name: 4, dtype: object

4. Pivot Tables and Cross-Tabulations (20 Marks)
Using the original df dataset from Task 1:
1 Create a pivot table to find the total sales by Region and Year. (10 Marks)
2 Create a cross-tabulation showing the count of employees working in each Region for each Year. (10 Marks)

In [6]:

import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data)
#1. Create a Pivot Table to Find Total Sales by Region and Year (10 Marks)

pivot_table_sales = df.pivot_table(values='Sales', index='Region', columns='Year', aggfunc='sum', fill_value=0)

print("Pivot Table: Total Sales by Region and Year\n", pivot_table_sales)
#2. Create a Cross-Tabulation for the Count of Employees in Each Region for Each Year (10 Marks)

cross_tab_employees = pd.crosstab(index=df['Region'], columns=df['Year'], values=df['Employee'], aggfunc='count', margins=False)

print("Cross-Tabulation: Count of Employees by Region and Year\n", cross_tab_employees)

Pivot Table: Total Sales by Region and Year
 Year    2023  2024
Region
North    650   600
South    150   650
Cross-Tabulation: Count of Employees by Region and Year
 Year    2023  2024
Region
North      3     2
South      1     2

5. Exporting Data (10 Marks)
1 Save the final merged dataset (from Task 2) to a CSV file named employee_sales.csv. (5 Marks)
2 Save the pivot table (from Task 4) to an Excel file named sales_summary.xlsx. (5 Marks)

In [7]:
final_data = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR'],
    'Sales_Target': [1000, 1200, 800, 500],
    'Total_Sales': [750, 900, 400, 0],
    'Sales_Difference': [250, 300, 400, 500]
})
#1. Save the Final Merged Dataset to a CSV File (employee_sales.csv) (5 Marks)

final_data.to_csv('employee_sales.csv', index=False)
print("Final merged dataset saved as employee_sales.csv")
#2. Save the Pivot Table to an Excel File (sales_summary.xlsx) (5 Marks)

pivot_table_sales.to_excel('sales_summary.xlsx', sheet_name='Sales Summary')
print("Pivot table saved as sales_summary.xlsx")

Final merged dataset saved as employee_sales.csv
Pivot table saved as sales_summary.xlsx